#include <iostream>
#include <cstring>
#include <fstream>

using namespace std;
fstream h("E:\hung59.txt");

class MangMotChieu
{
  protected:
      int a[100];
      int n, tam, i;
  public:
      void Nhap();
      void NhapMang();
      void XuatMang();
};


// nhap mang mot chieu
void MangMotChieu::NhapMang(int a[], int i)
{
  for(i=0; i<n; i++)
  { 
    cout << "Nhap vao phan tu a[" << i << "] : ";
    cin >> a[i];
  }
}


// xuat mang môt chieu
void MangMotChieu::XuatMang(int a[], int i)
{
  cout << "Mang mot chieu: "";
  for(i=0; i<n; i++)
  {
    cout << a[i];
  }
}


int main()
{}
